* {
    color: #dddddd;
}

.mcs-logo {
    font-size: 48px;
    font-weight: 600;
    text-decoration: none;
}

.nav-item {
    font-size: 22px;
}

.alert-success-dark {
    background-color: #153714;
    color: #20cc31;
    border-color: #20a231;
    font-size: 22px;
}

.alert-danger-dark {
    background-color: #371415;
    color: #cc3120;
    border-color: #a23120;
    font-size: 22px;
}

.alert-info-dark {
    background-color: #141537;
    color: #3120cc;
    border-color: #3120a2;
    font-size: 22px;
}

.btn-pink {
    background-color: #401040;
    border-color: #401040;
    color: #cc20cc;
    font-size: 26px;
}

.btn-pink:hover {
    background-color: #601560;
    border-color: #902090;
}

.btn-pink:active {
    background-color: #802080 !important;
    border-color: #b030b0 !important;
}

.input-text-default {
    background-color: #ddccdd;
    border-color: #ddccdd;
}

.input-text-default:focus {
    background-color: #ddccdd;
    border-color: #dd00dd;
    outline: 3.5px solid rgba(255, 0, 255, 0.25);
    box-shadow: none;
}

.text-BIG {
    font-size: 100px;
}

.text-slightly-less-BIG {
    font-size: 75px;
}

.text-slightly-more-less-BIG {
    font-size: 50px;
}

.text-slightly-less-BIG-than-slightly-more-less-BIG {
    font-size: 35px;
}
table {
    margin-left: auto;
    margin-right: auto;
}

.btn-calculator { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: #401040;
    border-color: #501050;
    color: #cc20cc;
    font-size: 26px;
    font-weight: bold; 
    border: none;
}

#calculator-result {
    font-size: 40px;
}
