* {
    color: #dddddd;
}

.mcs-logo {
    font-size: 48px;
    font-weight: 600;
    text-decoration: none;
}

.nav-item {
    font-size: 22px;
}

.alert-success-dark {
    background-color: #153714;
    color: #20cc31;
    border-color: #20a231;
    font-size: 22px;
}

.alert-danger-dark {
    background-color: #371415;
    color: #cc3120;
    border-color: #a23120;
    font-size: 22px;
}

.alert-info-dark {
    background-color: #141537;
    color: #3120cc;
    border-color: #3120a2;
    font-size: 22px;
}
