{% extends "layout.html" %}

{% block title %}
    CPS Results
{% endblock %}

{% block main %}
    
    <div class="container">
        <div class="row">
            <h1 style="font-size: 48px;"class="col-12">You clicked <span style="color: #ff00ff">{{ clickCount }} times</span> with a speed of <span style="color: #ff00ff">{{ clickSpeed }} clicks per second</span></h1>
        </div>
        <br><br><br>
        <div class="row">
            <h1 class="text-slightly-less-BIG-than-slightly-more-less-BIG col-12">Your highest click amount is <span style="color: #ff00ff">{{ highCount }} times</span> with a speed of <span style="color: #ff00ff">{{ highSpeed }} clicks per second</span></h1>
        </div>
    </div>
    
{% endblock %}